if theme.gitalk.enable
    #gitalk-container
    script(src=url_for("js/gitalk.1.5.0.min.js"))
    script.
        var params = {
            clientID:"#{theme.gitalk.oauth.clientID}",
            clientSecret:"#{theme.gitalk.oauth.clientSecret}",
            repo:"#{theme.gitalk.repo}",
            admin:"#{theme.gitalk.admin}",
            id:window.location.pathname,
            owner:"#{theme.gitalk.owner}",
            distractionFreeMode: false,
        };
        var gitalk = new Gitalk(params)
        gitalk.render('gitalk-container');
